<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="outer-container">
        <div class="form-group">
            <h2>Admin Login</h2>
            <form action="/adminauthenticate/" method="POST">
                {%csrf_token%}
                <input class="form-control" type="text" name="username" placeholder="username">
                <input class="form-control" type="password" name="password" placeholder="password">
                <input id ="submit-button" class="form-control btn btn-primary" type="submit" name="ordered_items">
            </form>    
        </div>
        {%for message in messages%}
        <p class="error-spot">{{message}}</p>
        {%endfor%}
    </div>
</body>
</html>


