<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <nav class="navbar navbar-light ">
        <a class="navbar-brand">Welcome</a>
        <!-- <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <a href="/userlogin/" class="btn" id="login-btn">Login</a>
      </nav>
    <div class="background-container" >
      <div class="inner-container container-fluid" style="background-image: url({%static 'img/hamburherplsmain.png'%});">
        
        <div class="container small-container">
          <h2>Sign Up!</h2>
          <form action="/register/" method="post">
            {%csrf_token%}
            <input class="form-control" placeholder= "username" type="text" name="username" >
            <input class="form-control" placeholder= "password" type="password" name="password" >
            <input class="form-control" placeholder= "confirm password" type="password" name="confirm_pass">
            <input class="form-control" placeholder= "phone" type="text" name="phone" >
            <input class="btn userlogin-btn"  type="submit" name="" >
          </form>
          <div class="error-spot">
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        </div>
      </div>
    </div>
</body>
</html>


